/*
 * CV styling
 * @jhollist 2014
 */

ul {
  list-style-type: none; 
  position: relative;
  left: 0;
  top: 25px;
  color: #626262;
  font-size: 14px;
  text-transform: none;
  width: 57px;
}


body > div.content.container > div > ul > li > ul > li{
  border-left: 1px solid #dfdfdf;
  margin: -5px 0 -15px 63px;
  padding: 0 0 0 9px;
  width: 200px;
}