/*
 * CV styling
 * @jhollist 2014
 */

.page {
  margin-top: -50px;
}
.page-title {
  display: none;
}

#jeffrey-w-hollister {
  text-align:center;
}

#cv-nav li {
  display: inline;
  list-style-type: none;
  padding-right: 3px;
  padding-left: 6px; 
  border-left: 2px solid #dfdfdf;
 
}
#cv-nav li:nth-child(5){
 border-right: 2px solid #dfdfdf;
 padding-right: 6px;
}
#cv-nav ul {
  text-align:center;
  margin-top: 20px;
  margin-botom: 25px;
}
body > div.content.container > div > ul {
  text-align:center;
}

ul {
  list-style-type: none; 
  left: 0;
  top: 25px;
  color: #626262;
  font-size: 14px;
  text-transform: none;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 2px;
  padding-left: 0px;
}
li {
  margin-bottom: 2px;
}

dt {
  float: left;
  clear: right;
  width: 20%;
  font-size: 18px;
}

dd{
  margin-left: 22%;
  font-size: 18px;
}

dl > dd > ul{
  margin-top: 10px;
}

/* page break from http://davidwalsh.name/css-page-breaks */

@media all {
  .page-break	{ 
    display: none;
  }
}

@media print {
  #cv-nav {
    display: none;
  }
  
  div.sidebar {
    display: none;
  }
  
  li {
    orphans: 4;
    widows: 3;
  }
  
}
