/*
 * CV styling
 * @jhollist 2014
 */

ul {
  list-style-type: none; 
  left: 0;
  top: 25px;
  color: #626262;
  font-size: 14px;
  text-transform: none;
  width: 100%;
}

#education ul li {
  border-left: 1px solid #dfdfdf;
  margin: 20px 0 0px 80px;
  padding: 0 0 0 9px;
  width: 600px;
}