<div class="sidebar">
  <div class="logos">
  {% if site.logos != null %}
  <ul>
    {% for logo in site.logos %}
      {% if logo.site != null %}
      <!-- Add in logos here -->
        <li><a href="{{ logo.site }}">{{ logo.site.img }}</a></li>
      {% endif %}  
    {% endfor %}
  </ul>
  {% endif %} 
  </div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

<!-- Removing links to github download, site on github, and version
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Site on GitHub</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>
 -->

    <p><a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/">
    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
  </a></p>
  </div>
</div>
