/*
* Project Style Sheet
* Harvard CSCI e-12
* J.W. Hollister
* March 14, 2014
*/

html {
  min-height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background: white;
  height: 100%;
}

hr {
  color: #162d50;
}

strong {
  font-weight: 600;
  color: #162d50;
}

h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #162d50;
  font-weight: bold;
}

h3 {
  font-size: 150%;
  color: #808080;
}
a:visited {
  color: #162d50;
}

a {
  color: #162d50;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 100%;
}

a:hover {
  color: #808080;
  border-bottom: thin solid #808080;
}

/* Site Navigation */

a:active {
  color: #162d50;
  border-bottom: medium solid #162d50;
  font-weight: bold;
}


nav#site ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 125%;
}

#site > ul > li:nth-child(1) {
  margin-left: 0px;
}

nav#site ul li {
  display: inline-block;
  position: relative;
  top: 1.25em;
  margin-left: 50px;
}

nav#site {
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../images/jhlogo_darkblue3.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 80px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-bottom: medium solid #162d50;
  text-align: center; 
  margin-bottom: 20px;
}

/* From Chris Coyeirs methdod*/
nav select { display: none;}

@media (max-width: 767px) {
  nav ul     { display: none; }
  nav select { 
    display: inline-block;
    float: right;
    }
}

/* Home Page Navigation */

nav#home ul {
  list-style: none;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 150%;
  margin-top: 15px;
  
}

nav#home ul li {
  display: inline;
  padding-left: 35px;
  padding-right: 35px;
  
}

nav#home {
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
  border-top: medium solid #162d50;
  border-bottom: medium solid #162d50;
}

header#logo h1{
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../images/jhlogo_darkblue3.png);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-position:center; 
  text-align: center;
  height: 200px;
  margin-top:30px;
  margin-bottom: 30px;
}

div#cv section {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

section ul li {
  list-style-type: square;
  list-style-position: inside;
}

section {
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: justify;
}

section img {
  width: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  display: block;
}

form {
  margin-left:auto;
  margin-right: auto;
  width:50%;
}

.error {
  color: red;
  font-size: 70%;
  font-style: italic;
  margin-top: -20px;
}

#emailBody > label.error {
  margin-top: -20px; 
}

#emailBody > textarea {
  margin-top: 0px;
}



footer .row {
  margin-bottom: 0px;
}

footer {
  font-size: 70%;
}

address ul li {
  display: block;
  text-align: center;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

#social_media {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0px;
  height: 35px;
}

#social_media ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

#social_media ul li a:hover{
  border-bottom: none;
}

#social_media img{
  height: 20px;
}

/* override hr in nav */
nav hr {
  display: none;
}